<div class="layout flex flex--stretch">
  <div class="richtext richtext--left gap--small">
    <div class="content content--left gap text--left">
      {{ formatted }}
    </div>
  </div>
</div>

<div class="title_bar">
  <img src="https://app.simplenote.com/img/logo.png"/>
  <span class="title">Simplenote</span>
  <span class="instance">
    http://simp.ly/p/{{ trmnl.plugin_settings.custom_fields_values.simplenoteid }}
  </span>
</div>