{% assign after_note = data | split: '<div class="note note-detail-markdown">' | last %}
  {% assign note_inner = after_note | split: '</div>' | first %}
{% assign note_inner = note_inner | strip %}

{% comment %} Remove id attributes from heading tags {% endcomment %}
{% assign parts = note_inner | split: ' id="' %}
{% assign cleaned = '' %}
{% for part in parts %}
{% if forloop.first %}
{% assign cleaned = part %}
{% else %}
{% assign after_id = part | split: '">' %}
{% assign cleaned = cleaned | append: '>' | append: after_id[1] %}
{% endif %}
{% endfor %}

{% assign formatted = cleaned
| replace: '<h1>', '<span class="title">'
  | replace: '</h1>', '</span>'

| replace: '<h2>', '<span class="title">'
  | replace: '</h2>', '</span>'

| replace: '<h3>', '<span class="title">'
  | replace: '</h3>', '</span>'

| replace: '<h4>', '<span class="title title--small">'
  | replace: '</h4>', '</span>'

| replace: '<h5>', '<span class="title title--small">'
  | replace: '</h5>', '</span>'

| replace: '<h6>', '<span class="title title--small">'
  | replace: '</h6>', '</span>'

| replace: '<blockquote>', '<img class="image" height="15px" width="15px" src="data:image/svg+xml;charset=utf-8,<svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 448 512&quot;><path d=&quot;M0 216C0 149.7 53.7 96 120 96l8 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-8 0c-30.9 0-56 25.1-56 56l0 8 64 0c35.3 0 64 28.7 64 64l0 64c0 35.3-28.7 64-64 64l-64 0c-35.3 0-64-28.7-64-64L0 216zm256 0c0-66.3 53.7-120 120-120l8 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-8 0c-30.9 0-56 25.1-56 56l0 8 64 0c35.3 0 64 28.7 64 64l0 64c0 35.3-28.7 64-64 64l-64 0c-35.3 0-64-28.7-64-64l0-136z&quot;/></svg>"><span class="title title--small">'
  | replace: '</blockquote>', '</span><img class="image" height="15px" width="15px" src="data:image/svg+xml;charset=utf-8,<svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 448 512&quot;><path d=&quot;M448 296c0 66.3-53.7 120-120 120l-8 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l8 0c30.9 0 56-25.1 56-56l0-8-64 0c-35.3 0-64-28.7-64-64l0-64c0-35.3 28.7-64 64-64l64 0c35.3 0 64 28.7 64 64l0 136zm-256 0c0 66.3-53.7 120-120 120l-8 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l8 0c30.9 0 56-25.1 56-56l0-8-64 0c-35.3 0-64-28.7-64-64l0-64c0-35.3 28.7-64 64-64l64 0c35.3 0 64 28.7 64 64l0 136z&quot;/></svg>">'

| replace: '<p>', '<span class="title title--small">'
  | replace: '</p>', '</span>'
%}

<div class="layout flex flex--stretch">
  <div class="richtext richtext--left gap--small">
    <div class="content content--left gap text--left">
      {{ formatted }}
    </div>
  </div>
</div>

<div class="title_bar">
  <img src="https://app.simplenote.com/img/logo.png"/>
  <span class="title">Simplenote</span>
  <span class="instance">
    http://simp.ly/p/{{ trmnl.plugin_settings.custom_fields_values.simplenoteid }}
  </span>
</div>